:root {
  align-content: center;
}

.Logo {
  text-align: center;
  height: 13em;
  padding: 0.25em;
}

.LogoImage {
  padding: 1.5em;
  height: 15vmin;
  width: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .LogoImage {
    animation: LogoImage-spin infinite 4s ease-in-out
  }
}

@keyframes LogoImage-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}