:root {
  background-color: #222;
  color: antiquewhite;
}

.App {
  display: grid;
  padding: 10px;
}

.Sidebar {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.Header {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
}

.ContentDisplay {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.Logo {
  grid-column: 1;
  grid-row: 1;
}