.LogoImage {
  padding: 1.5em;
  max-height: 6rem;
  max-width: 6rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .LogoImage {
    animation: LogoImage-spin infinite 4s ease-in-out
  }
}

@keyframes LogoImage-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}