.SidebarLinkText {
    color: goldenrod;
    width: fit-content;
    padding-bottom: 0.75em;
}

.SidebarLinkText:hover {
    color:lightskyblue;
    cursor: pointer;
}

.SidebarLinkChild {
    padding-left: 0.1em;
}